<ion-header class="ion-no-border">
 
  <div class="login-header ion-padding">
    <img src="./../../../../assets/img/logo.svg" alt="" class="logo-img">
  </div>
</ion-header>
<ion-content class="bg" padding>
  <ion-grid>
  <!--Logo GoMarket-->
  <ion-row>
    <ion-col>
      <h4><b>Ingresa colocando tus siguientes datos:</b></h4>
    </ion-col>
  </ion-row>
  
    <ion-row class="ion-justify-content-center">
     
      </ion-row>
  
       <app-login></app-login>
     
  </ion-grid>
  
</ion-content>
  
  
    <!--/Logo GoMarket-->
  
  
  
  
  <style>
    .logo {
      margin-top: 50px;
    }

    .inferior {
      margin-top: 18px;
      margin-bottom: 0px;
      padding: 0px;
      margin-right: 0px;
      margin-left: 0px;
    }

    .btnlogin {
      --background:#413ECE;
      --background-hover:#7A78DD;
    }

    .btnregistro {
      --border-color:#413ECE;
       color: #413ECE;
    }
  </style>

