<ion-header>
  <ion-toolbar>
    <ion-title>perfil-presidente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-button color="danger" (click)="salir()">Salir</ion-button>
</ion-content>
