<ion-header class="ion-no-border">
   <!--Logo-->
   <app-logo></app-logo>
   <!--/Logo-->
</ion-header>
<ion-content class="bg" padding background="warning">
  <ion-grid>
    
      <div class="cotenedor">
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <div class="ion-text-left">
              <h1 routerLink="/presidente-principal"><b>Bienvenido</b></h1>
              <p>Puede ingresar como un vendedor, si usted trabaja en el mercado o como un cliente si quiere reservar productos.</p>
            </div>
          </ion-col>
        </ion-row>
         
        <ion-row>
          <ion-col size-sm="6" size-xs="6">
            <ion-button class="btnvendedor" shape="round" expand="full" color="dark" routerLink="/tabs/pedidos">Vendedor</ion-button>
          </ion-col>
      
          <ion-col size-sm="6" size-xs="6">
            <ion-button class="btncliente" shape="round" expand="full" color="light" routerLink="/login-cliente">Cliente</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" size-xs="6">
            <ion-button class="btnvendedor" shape="round" expand="full" color="dark" routerLink="/presidente-principal">Presidente</ion-button>
          </ion-col>
        </ion-row>
      </div>
      
  </ion-grid>

  
</ion-content>
