<ion-header class="ion-no-border">
  <ion-toolbar class="barra" >
    
    <ion-title color="dark">Pedidos de Hoy</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let c of clientes">
     
    <ion-item routerLink="/verificar-pedido">
      <ion-avatar slot="start">
        <img [src]="c.imgPerfil">
      </ion-avatar>
      <ion-label>{{ c.nombreUsuario }}</ion-label>
    </ion-item>
    
   </ion-list>
  </ion-content>