<ion-header color="primary">
  <ion-toolbar >

    <ion-title>Mercado "La Unión"</ion-title>
    <ion-buttons slot="secondary" slot="end">
      <ion-button routerLink="/perfil-presidente">
        <ion-icon name="person" ></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <ion-segment (ionChange)="segmentChanged($event)" > 
        
    <ion-segment-button value="Vendedores" >
      <ion-label>Vendedores</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="Categorias">
      <ion-label>Categorias</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-header>
<ion-content fullscreen>
  <ion-fab slot="fixed" vertical='bottom' horizontal='end'>
    <ion-fab-button color="dark" (click)="logout()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-grid>
    <ion-list>

         <div *ngFor="let r of (vendedores | async) | filtro: tipo:'tipo' "> 
        <ion-item [routerLink]="r.url">
            <ion-avatar slot="start">
            <img [src]="r.imgPerfil">
          </ion-avatar>
          <ion-label>{{r.nombreUsuario }}</ion-label>
          <ion-icon name="arrow-forward" ></ion-icon>
        </ion-item>
       </div>
     

      </ion-list>
 </ion-grid>
</ion-content>


