<app-header-back titulo="Mi Perfil" url="/categorias"></app-header-back>

<ion-content>
 <ion-grid>
     <ion-row class="ion-justify-content-center">
         <ion-col size="auto" class="imgPerfil">
             
                 <img src="./../../../../assets/img/man.png" alt="">
            
         </ion-col>
     </ion-row>

     <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <div class="ion-text-center">
            <p>Marcos</p>
            <p>Marquitos@gmail.com</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-list>
        <ion-item>
          <ion-label >Nombre: </ion-label>
          <ion-label >Marcos Castillo </ion-label>
        </ion-item>

        <ion-item>
          <ion-label >Celular: </ion-label>
          <ion-label >+51924423686 </ion-label>
        </ion-item>
      </ion-list>
 </ion-grid>
</ion-content>
