<ion-header class="ion-no-border">
  <ion-toolbar class="barra" >
    <ion-title color="dark">Categorias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
     
    <div *ngFor="let c of categorias"> 
     <ion-item [routerLink]="c.url">
      <ion-avatar slot="start">
        <img [src]="c.img">
      </ion-avatar>
       <ion-label>{{c.categoria }}</ion-label>
       <ion-icon name="arrow-forward" ></ion-icon>
     </ion-item>

    </div>
   </ion-list>
   <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
    <ion-fab-button color="dark"><ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>