<app-menuheader-cliente titulo="Reservas"></app-menuheader-cliente>
<ion-content>
 <ion-grid>
    <ion-list>

       <div *ngFor="let r of reservas"> 
        <ion-item [routerLink]="r.url">
            <ion-avatar slot="start">
            <img [src]="r.img">
          </ion-avatar>
          <ion-label>{{r.vendedor }}</ion-label>
          <ion-icon name="arrow-forward" ></ion-icon>
        </ion-item>

       </div>
      </ion-list>
 </ion-grid>
</ion-content>
