
<ion-header>
  <ion-toolbar class="barra" color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" ></ion-back-button>
    </ion-buttons>
    <ion-title >Unete a GoMarket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Logo GoMarket-->
  <form  [formGroup]="credentialsForm"  (ngSubmit)="registro()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input maxlength="100" formControlName="nombreUsuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input maxlength="100" formControlName="apellidoUsuario" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="contraseña"></ion-input>
        </ion-item>
  
  
          <ion-button color="dark" shape="round" expand="full" type="button"  (click)="registro()">Registrar Cuenta</ion-button>
    
</form>
</ion-content>
