<app-header-back titulo="Verificar Reserva" url="/tabs/pedidos"></app-header-back>

<ion-content>
<!--Scanear un codigo QR (click)="scanearQR()"-->
<ion-button expand="full"  color="dark" (click)="scanearQR()">
  <ion-icon name="qr-scanner"></ion-icon>
  Scannear Codigo QR
</ion-button>

<p>Protege tus productos y a tus clientes asegurandote que le estas dando los productos a la persona correcta.</p>

</ion-content>
<style>
  ion-content{
    margin-top: 25px;
  }
</style>