<ion-header class="ion-no-border">
  <ion-toolbar  >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/productos-cliente"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <img src="https://res.cloudinary.com/pbpc/image/upload/v1607016156/img-bBHh_763_itzfws.jpg">
   <h1><b>Piña Hawai</b></h1>
   <h3>S/. {{precio}} x unidad</h3>
   <ion-item text-center>
     <ion-label >Añadir</ion-label>
    <ion-label slot="end">
     <ion-button (click) = "deselect()">-</ion-button>
      {{cantidad}}
       <ion-button (click) = "select()">+</ion-button>
    </ion-label>
  </ion-item>
   <ion-item>
     <ion-label >     
         Total
     </ion-label>
     <ion-label slot="end">
      S/. {{total}}
    </ion-label>
   </ion-item>
   <ion-button color="warning" expand="full">Reservar</ion-button>
   
</ion-content>
