
<ion-tabs >
  <ion-tab-bar slot="bottom" color="warning">
     
    <ion-tab-button tab="pedidos">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos-stock">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Mis productos</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="perfil-vendedor">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
