<ion-header class="ion-no-border">
  <ion-toolbar  color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pedidos"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Total</ion-title>
    <ion-label slot="end"><b>S/. 7.40</b></ion-label>

  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-list >
    <ion-item *ngFor="let p of detalle">
      <img [src]="p.img" alt="" class="producto">
      <ion-label >
        <h3>{{p.nombre}}</h3>
      <p class="texto"> S/.{{p.Precio}} x 2</p>
      </ion-label>
    </ion-item>
  
</ion-list>
</ion-content>

<style>
  img {
    width: 250px;
    height: 240px;
  }
</style>

