<form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
 
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email" formControlName="correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" formControlName="contraseña"></ion-input>
  </ion-item>

  <ion-button class="btnlogin" shape="round" expand="full" type="submit" color="warning" [disabled]="!credentialsForm.valid">Login</ion-button>
 <br>
  <ion-button class="btnregistro" shape="round" expand="full" routerLink="/registro-cliente" color="dark">Registro</ion-button>

</form>