
<ion-header class="ion-no-border">
  <ion-toolbar class="barra" color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/puestos"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Catálogo</ion-title>
    <ion-buttons slot="secondary" slot="end">
      <ion-button routerLink="/reservas">
       
        <p slot="start"></p>
        <ion-icon name="cart" ></ion-icon>
      </ion-button>
      </ion-buttons>

  </ion-toolbar>

  <ion-searchbar animated (ionChange)="buscar($event)" placeholder="Buscar ..."></ion-searchbar>

  <ion-segment (ionChange)="segmentChanged($event)" >
        
    <ion-segment-button value="Todas">
      <ion-label>Todas</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="Frutas">
      <ion-label>Frutas</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Verduras">
        <ion-label>Verduras</ion-label>
      </ion-segment-button>


  </ion-segment>
</ion-header>

<ion-content fullscreen>

      <ion-row>
     
        <ion-col size="6" *ngFor="let p of (productos | async) | filtro: categoria:'categoria'  | filtro: textoBuscar:'nombre' "> 
          <ion-card [routerLink]="p.url">

            <ion-card-header>
              <img [src]="p.img" alt="">
            </ion-card-header>
    
            <ion-card-content>
                <h3>{{ p.nombre }}</h3>
                <p slot="start"><b>S/.{{p.Precio}}</b></p>
            </ion-card-content>
        </ion-card>
        </ion-col>
      </ion-row>
</ion-content>
