<app-menuheader-cliente titulo="Productos"></app-menuheader-cliente>
<ion-content padding>
 <ion-grid fixed>
   <ion-row>
     <ion-col size="12" size-lg="4" size-md="6" >
       <ion-card>
         <ion-img src="https://res.cloudinary.com/pbpc/image/upload/v1598577574/GoMarket/leche_gloria_efzgvb.png"></ion-img>
         <ion-card-header>
           <ion-card-title> Mi tarjeta</ion-card-title>
           <ion-card-subtitle>Descripcion de mi tarjeta</ion-card-subtitle>
         </ion-card-header>
         
         <ion-card-content>
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim voluptate ut illum omnis.
         </ion-card-content>
       </ion-card>
     </ion-col>

     <ion-col size="12" size-lg="4" size-md="6" >
       <ion-card>
        <ion-img src="https://res.cloudinary.com/pbpc/image/upload/v1598577574/GoMarket/leche_gloria_efzgvb.png"></ion-img>
        <ion-card-header>
          <ion-card-title> Mi tarjeta</ion-card-title>
          <ion-card-subtitle>Descripcion de mi tarjeta</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim voluptate ut illum omnis.
        </ion-card-content>
      </ion-card>
     </ion-col>

     <ion-col size="12" size-lg="4" size-md="6" >
      <ion-card>
        <ion-img src="https://res.cloudinary.com/pbpc/image/upload/v1598577574/GoMarket/leche_gloria_efzgvb.png"></ion-img>
        <ion-card-header>
          <ion-card-title> Mi tarjeta</ion-card-title>
          <ion-card-subtitle>Descripcion de mi tarjeta</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim voluptate ut illum omnis.
        </ion-card-content>
      </ion-card>
     </ion-col>
     <ion-col size="12" size-lg="4" size-md="6" >
      <ion-card>
        <ion-img src="https://res.cloudinary.com/pbpc/image/upload/v1598577574/GoMarket/leche_gloria_efzgvb.png"></ion-img>
        <ion-card-header>
          <ion-card-title> Mi tarjeta</ion-card-title>
          <ion-card-subtitle>Descripcion de mi tarjeta</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim voluptate ut illum omnis.
        </ion-card-content>
      </ion-card>

     

     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>

<style>
  ion-img{
    width: 125px;
    height: 125px;
  }
</style>
