<ion-grid>

    <ion-row class="ion-justify-content-center" >
    <ion-col size="6" *ngFor="let p of puestos | async">
      <ion-card routerLink="/productos-cliente">
        <ion-avatar>
          <img [src]="p.imgPuesto" />
        </ion-avatar>
        <div class="ion-text-center">
          <ion-label color="dark"><b>{{p.nombre}}</b></ion-label>
        </div>
        <div class="ion-text-center">
          <ion-label [color]="p.color"><b>{{p.estado}}</b></ion-label>
        </div>
        <div class="ion-text-center">
          <ion-label color="dark"><b>{{p.nroPuesto}}</b></ion-label>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>