
<ion-content>
 <ion-grid>
     <ion-row class="ion-justify-content-center">
         <ion-col size="auto" class="imgPerfil">
             
                 <ion-avatar>
                  <img src="https://res.cloudinary.com/pbpc/image/upload/v1606959800/vghftcynigu5j8x4yg3y.jpg" alt="">
                 </ion-avatar>
            
         </ion-col>
     </ion-row>

     <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <div class="ion-text-center">
            <p><b>cruz_sama@gmail.com</b></p>
          </div>
        </ion-col>
      </ion-row>

      <ion-list>
        <ion-item>
          <ion-label >Nombre: </ion-label>
          <ion-label >Rosmery  </ion-label>
        </ion-item>
        <ion-item>
          <ion-label >Apellido: </ion-label>
          <ion-label >De la Cruz Samaniego  </ion-label>
        </ion-item>
        <ion-item>
          <ion-label >Edad: </ion-label>
          <ion-label >57</ion-label>
        </ion-item>
        <ion-item>
          <ion-label >Nro. de <br>Puesto: </ion-label>
          <ion-label >#216 </ion-label>
        </ion-item>
      </ion-list>
      <ion-button color="Success" (click)="salir()" >Salir</ion-button>
 </ion-grid>
</ion-content>
