<app-header-back titulo="Frutas" url="/tabs"></app-header-back>
<ion-content>
  <ion-list>
      
    <ion-item  *ngFor="let l of frutas">
     <img [src]="l.img" alt="">
      <ion-label>
        <h3>{{l.nombre}}</h3>
        <p>S/.{{l.Precio}}</p>
       </ion-label>
       <ion-label>
         <h1 color="success"><b>{{l.cantidad}}</b></h1>
       </ion-label>
    </ion-item>

  </ion-list>

       <ion-fab vertical="bottom" horizontal="end"  slot="fixed" color="danger">
        <ion-fab-button><ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
