<ion-header  class="ion-no-border">
  <ion-toolbar color="warning">
    
    <ion-title >
      {{titulo}}
    </ion-title>

    <ion-buttons slot="start" >
      <ion-menu-button menu="cliente-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>