<ion-row class="ion-justify-content-center">
  <ion-col size="auto" class="logo">
    <svg width="96" height="107" viewBox="0 0 96 107" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M63.9375 12.7564V76.4067C63.9375 79.2203 62.9301 81.9185 61.1367 83.908C59.3434 85.8975 56.9112 87.0151 54.375 87.0151H22.5C20.8208 87.014 19.1714 86.5234 17.7169 85.5925C16.2624 84.6616 15.0539 83.323 14.2125 81.7109V81.6933C13.3738 80.0871 12.9339 78.263 12.9375 76.4067V12.7564C12.9375 9.94284 13.945 7.24455 15.7383 5.25509C17.5316 3.26563 19.9639 2.14796 22.5 2.14796H54.375C56.7862 2.14935 59.1078 3.16114 60.8751 4.98074C62.6424 6.80034 63.7248 9.29342 63.9057 11.9607C63.9216 12.2259 63.9375 12.4912 63.9375 12.7564V12.7564Z" fill="#5AAAE7"/>
      <path d="M63.9374 16.7345V65.3387C61.3748 64.1062 59.028 62.3825 57.0046 60.2466L45.8005 62.5628L51.6018 51.6715C50.3426 48.4791 49.6629 45.0428 49.6014 41.5589C49.5399 38.0749 50.098 34.6117 51.2436 31.3671C52.3892 28.1226 54.0999 25.1603 56.278 22.6495C58.4561 20.1388 61.0588 18.1288 63.9374 16.7345V16.7345Z" fill="#3D9AE2"/>
      <path d="M93.8521 42.1062C92.752 49.0316 89.2177 55.1887 84.0263 59.2237C78.835 63.2588 72.4116 64.8414 66.1687 63.6236C65.416 63.481 64.6711 63.2921 63.9374 63.0578C60.1427 61.9031 56.6655 59.7222 53.8171 56.7105L42.613 59.0266L48.4143 48.1354C46.6806 43.7412 46.0539 38.9076 46.601 34.1496C47.1481 29.3915 48.8486 24.8873 51.5212 21.1167C54.1937 17.3462 57.7383 14.4507 61.7773 12.7386C65.8162 11.0266 70.1981 10.5622 74.4562 11.3949C80.6987 12.6154 86.2488 16.5363 89.886 22.2954C93.5232 28.0546 94.9498 35.1805 93.8521 42.1062V42.1062Z" fill="#FFD422"/>
      <path d="M62.3438 32.2051V53.4219C62.3463 54.3589 62.6829 55.2567 63.2801 55.9192C63.8774 56.5818 64.6866 56.9552 65.5312 56.958H81.4688C82.3134 56.9552 83.1226 56.5818 83.7199 55.9192C84.3171 55.2567 84.6537 54.3589 84.6562 53.4219V32.2051H62.3438Z" fill="#EBBF00"/>
      <path d="M81.4687 46.3496V49.8857C81.4662 50.8227 81.1296 51.7205 80.5324 52.3831C79.9351 53.0456 79.1258 53.4191 78.2812 53.4219H62.3437C61.4991 53.4191 60.6899 53.0456 60.0926 52.3831C59.4954 51.7205 59.1588 50.8227 59.1562 49.8857V46.3496H81.4687Z" fill="#D1D3D4"/>
      <path d="M59.1562 28.6689H81.4687V46.3496H59.1562V28.6689Z" fill="#3D9AE2"/>
      <path d="M41.625 72.8706C42.4696 72.8734 43.2789 73.2469 43.8761 73.9094C44.4733 74.572 44.81 75.4698 44.8125 76.4067C44.8062 77.3424 44.4684 78.2378 43.872 78.8995C43.2756 79.5611 42.4684 79.9359 41.625 79.9429H35.25C34.4054 79.9401 33.5961 79.5666 32.9989 78.9041C32.4017 78.2415 32.065 77.3437 32.0625 76.4067C32.0688 75.471 32.4066 74.5756 33.003 73.914C33.5994 73.2523 34.4066 72.8775 35.25 72.8706H41.625Z" fill="#E6E7E8"/>
      <path d="M33.4969 74.126C33.4969 75.0566 33.2771 75.971 32.8594 76.778L32.3335 77.8035C32.1539 77.3649 32.0615 76.8885 32.0625 76.4068C32.0603 75.9425 32.1424 75.4824 32.304 75.0541C32.4655 74.6258 32.7032 74.238 33.0028 73.9138C33.1453 73.7522 33.3 73.6043 33.465 73.4718C33.481 73.6839 33.4969 73.9138 33.4969 74.126Z" fill="#E6E7E8"/>
      <path d="M33.3853 32.5056C34.432 33.6636 35.0843 35.1885 35.2309 36.8203C35.3776 38.4522 35.0095 40.0899 34.1896 41.4544C33.3696 42.8188 32.1484 43.8256 30.7341 44.3029C29.3199 44.7803 27.8003 44.6988 26.4342 44.0722C25.0681 43.4457 23.9402 42.3129 23.2427 40.867C22.5452 39.4211 22.3214 37.7516 22.6093 36.1431C22.8972 34.5346 23.6791 33.0867 24.8217 32.0462C25.9642 31.0056 27.3967 30.4369 28.875 30.437C30.5654 30.4404 32.1862 31.1838 33.3853 32.5056V32.5056Z" fill="#3D9AE2"/>
      <path d="M30.1978 28.9695C31.2445 30.1275 31.8968 31.6524 32.0434 33.2842C32.1901 34.916 31.822 36.5538 31.0021 37.9183C30.1821 39.2827 28.9609 40.2895 27.5466 40.7668C26.1324 41.2442 24.6128 41.1627 23.2467 40.5361C21.8806 39.9096 20.7527 38.7768 20.0552 37.3309C19.3577 35.885 19.1339 34.2155 19.4218 32.607C19.7097 30.9985 20.4916 29.5506 21.6342 28.51C22.7767 27.4695 24.2092 26.9008 25.6875 26.9009C27.3779 26.9042 28.9987 27.6476 30.1978 28.9695V28.9695Z" fill="#FFD422"/>
      <path d="M30.3093 70.5898C30.3104 69.4211 29.9636 68.2846 29.3227 67.3571C28.6818 66.4295 27.7827 65.7627 26.7651 65.4603C25.7475 65.1579 24.6683 65.2369 23.6953 65.6849C22.7223 66.1328 21.9098 66.9248 21.3843 67.9377L14.2124 81.6933C13.3737 80.0871 12.9337 78.263 12.9374 76.4067V48.153C12.4089 48.2343 11.9073 48.4614 11.4785 48.8136C11.0497 49.1657 10.7074 49.6316 10.483 50.1686L3.24739 67.5841C2.27911 69.8997 1.77869 72.422 1.78114 74.9746V106.464L27.2811 106.446V98.7728C27.2777 96.8477 26.804 94.9597 25.9105 93.3095L22.4999 87.0151L29.6718 73.2419C30.0895 72.4349 30.3093 71.5204 30.3093 70.5898V70.5898Z" fill="#FFC477"/>
      <path d="M25.6875 7.45215H28.875V10.9883H25.6875V7.45215Z" fill="black"/>
      <path d="M32.0625 7.45215H44.8125V10.9883H32.0625V7.45215Z" fill="black"/>
      <path d="M62.3437 76.4067C62.3412 78.7505 61.5008 80.9974 60.0069 82.6547C58.513 84.312 56.4876 85.2443 54.375 85.2471H25.2603L30.7397 74.72C30.5663 75.2619 30.4748 75.8318 30.4687 76.4067C30.4687 77.8135 30.9725 79.1626 31.8691 80.1574C32.7658 81.1521 33.9819 81.7109 35.25 81.7109H41.625C42.893 81.7109 44.1092 81.1521 45.0058 80.1574C45.9025 79.1626 46.4062 77.8135 46.4062 76.4067C46.4062 75 45.9025 73.6508 45.0058 72.6561C44.1092 71.6614 42.893 71.1025 41.625 71.1025H35.25C34.4911 71.1041 33.7435 71.3066 33.0694 71.6931C32.3953 72.0797 31.814 72.6391 31.374 73.325C32.0069 71.6709 32.047 69.8112 31.486 68.1254C30.925 66.4396 29.8053 65.0548 28.3553 64.2537C26.9054 63.4526 25.2345 63.2956 23.6838 63.8146C22.133 64.3336 20.8192 65.4896 20.0105 67.0466L14.5918 77.464C14.5524 77.1133 14.5322 76.7602 14.5312 76.4067V12.7563C14.5337 10.4126 15.3741 8.16567 16.868 6.50839C18.3619 4.85111 20.3873 3.91882 22.5 3.91602H54.375C55.7731 3.91962 57.146 4.32962 58.3568 5.10517C59.5676 5.88071 60.5741 6.99472 61.2759 8.33618L64.0347 6.56812C63.0522 4.69032 61.6434 3.13088 59.9486 2.04513C58.2538 0.959386 56.3321 0.385238 54.375 0.379883H22.5C19.5422 0.383626 16.7065 1.68877 14.615 4.009C12.5236 6.32923 11.3471 9.47505 11.3437 12.7563V46.88C10.3295 47.4036 9.51285 48.3052 9.03596 49.4278L1.80192 66.838C0.731028 69.3918 0.179837 72.1757 0.187456 74.9923V106.464H3.37496V74.9923C3.36785 72.6893 3.81841 70.4128 4.69458 68.3249L11.3437 52.3204V76.4067C11.3426 78.5185 11.8305 80.5951 12.7606 82.4376C12.8805 82.7357 13.0726 82.9911 13.3154 83.1756C13.5582 83.36 13.8423 83.4663 14.1363 83.4826C14.4302 83.4989 14.7224 83.4246 14.9806 83.2679C15.2388 83.1112 15.4528 82.8783 15.599 82.595L22.7709 68.8147C23.1966 68.0091 23.8922 67.423 24.706 67.1844C25.5197 66.9457 26.3855 67.0738 27.1145 67.5407C27.8434 68.0076 28.3763 68.7754 28.5968 69.6765C28.8174 70.5777 28.7077 71.539 28.2917 72.3508L21.1198 86.1311C20.9773 86.4046 20.9035 86.7155 20.906 87.0315C20.9085 87.3474 20.9873 87.6568 21.1341 87.9275L24.5479 94.2218C25.2926 95.5987 25.6864 97.1741 25.6875 98.7798V106.446H28.875V98.7798C28.8747 96.5325 28.3238 94.3275 27.2812 92.4007L25.3193 88.7832H54.375C57.3328 88.7795 60.1684 87.4743 62.2599 85.1541C64.3514 82.8339 65.5278 79.688 65.5312 76.4067V67.5664H62.3437V76.4067ZM35.25 74.6387H41.625C42.0477 74.6387 42.453 74.8249 42.7519 75.1565C43.0508 75.4881 43.2187 75.9378 43.2187 76.4067C43.2187 76.8757 43.0508 77.3254 42.7519 77.657C42.453 77.9885 42.0477 78.1748 41.625 78.1748H35.25C34.8273 78.1748 34.4219 77.9885 34.123 77.657C33.8241 77.3254 33.6562 76.8757 33.6562 76.4067C33.6562 75.9378 33.8241 75.4881 34.123 75.1565C34.4219 74.8249 34.8273 74.6387 35.25 74.6387Z" fill="black"/>
      <path d="M91.2066 21.2784C87.6223 15.5868 82.2763 11.5563 76.1867 9.95419C70.0971 8.35213 63.689 9.29044 58.1826 12.5905C52.6762 15.8905 48.456 21.3218 46.3256 27.8502C44.1952 34.3786 44.3033 41.5482 46.6294 47.9939L41.2425 58.1249C41.0871 58.4165 41.0105 58.7515 41.0218 59.0901C41.0331 59.4286 41.1319 59.7564 41.3063 60.0344C41.4852 60.312 41.7314 60.5274 42.0164 60.6558C42.3014 60.7841 42.6133 60.82 42.916 60.7594L53.3231 58.6023C56.857 62.1167 61.2076 64.4626 65.8819 65.374C67.3507 65.6541 68.8381 65.7961 70.3285 65.7983C74.9933 65.7969 79.5684 64.3759 83.5558 61.6901C87.5431 59.0042 90.79 55.1564 92.943 50.5655C95.0959 45.9746 96.0725 40.8165 95.7663 35.6526C95.4602 30.4887 93.883 25.517 91.2066 21.2784V21.2784ZM92.2903 41.8057C91.5894 46.2163 89.8229 50.3333 87.179 53.718C84.5352 57.1027 81.1132 59.6282 77.2776 61.0254C73.442 62.4226 69.3365 62.6392 65.3987 61.652C61.4609 60.6648 57.8383 58.5109 54.9169 55.4198C54.618 55.112 54.225 54.9414 53.8172 54.9424C53.7213 54.9395 53.6254 54.9454 53.5303 54.9601L45.7688 56.569L49.785 49.0371C49.9099 48.7945 49.9834 48.5236 49.9999 48.2448C50.0165 47.9661 49.9757 47.6868 49.8806 47.4281C48.1031 42.9655 47.5648 38.0164 48.3347 33.2129C49.3618 26.7465 52.6624 20.9976 57.5103 17.2309C59.9108 15.3658 62.6189 14.0435 65.48 13.3394C68.3411 12.6354 71.2992 12.5634 74.1853 13.1277C77.0715 13.6919 79.8292 14.8812 82.3011 16.6278C84.7729 18.3743 86.9105 20.6439 88.5917 23.3069C90.2729 25.9699 91.4648 28.9742 92.0994 32.1482C92.734 35.3222 92.7989 38.6038 92.2903 41.8057Z" fill="black"/>
      <path d="M81.4687 26.9009H76.6875V25.1328C76.6875 23.2571 76.0158 21.4583 74.8203 20.132C73.6248 18.8057 72.0032 18.0605 70.3125 18.0605C68.6217 18.0605 67.0002 18.8057 65.8047 20.132C64.6091 21.4583 63.9375 23.2571 63.9375 25.1328V26.9009H59.1562C58.7336 26.9009 58.3282 27.0872 58.0293 27.4187C57.7304 27.7503 57.5625 28.2 57.5625 28.6689V49.8857C57.5663 51.2912 58.0712 52.6379 58.9671 53.6317C59.8629 54.6256 61.0768 55.1857 62.3437 55.1899H78.2812C79.5481 55.1857 80.7621 54.6256 81.6579 53.6317C82.5537 52.6379 83.0587 51.2912 83.0625 49.8857V28.6689C83.0625 28.2 82.8946 27.7503 82.5957 27.4187C82.2968 27.0872 81.8914 26.9009 81.4687 26.9009ZM67.125 25.1328C67.125 24.195 67.4608 23.2955 68.0586 22.6324C68.6564 21.9692 69.4671 21.5967 70.3125 21.5967C71.1579 21.5967 71.9686 21.9692 72.5664 22.6324C73.1642 23.2955 73.5 24.195 73.5 25.1328V26.9009H67.125V25.1328ZM79.875 49.8857C79.875 50.3547 79.7071 50.8044 79.4082 51.136C79.1093 51.4675 78.7039 51.6538 78.2812 51.6538H62.3437C61.9211 51.6538 61.5157 51.4675 61.2168 51.136C60.9179 50.8044 60.75 50.3547 60.75 49.8857V48.1177H79.875V49.8857ZM79.875 44.5815H60.75V30.437H63.9375V33.9731H67.125V30.437H73.5V33.9731H76.6875V30.437H79.875V44.5815Z" fill="black"/>
      <path d="M32.5295 23.8828L30.0751 26.6056C28.423 25.3925 26.4238 24.9034 24.465 25.233C22.5063 25.5626 20.7277 26.6875 19.4742 28.3895C18.2207 30.0915 17.5817 32.2493 17.6811 34.4443C17.7805 36.6394 18.6111 38.7153 20.012 40.2694C21.4129 41.8235 23.2841 42.745 25.2628 42.8553C27.2414 42.9655 29.1865 42.2566 30.7207 40.866C32.2549 39.4754 33.2688 37.5023 33.5659 35.3293C33.8631 33.1564 33.4221 30.9384 32.3287 29.1057L34.783 26.3828L32.5295 23.8828ZM30.4688 33.9732C30.4688 35.0222 30.1883 36.0477 29.663 36.92C29.1376 37.7923 28.3909 38.4721 27.5172 38.8736C26.6436 39.2751 25.6822 39.3801 24.7547 39.1754C23.8273 38.9708 22.9753 38.4656 22.3067 37.7238C21.638 36.982 21.1826 36.0369 20.9981 35.008C20.8136 33.979 20.9083 32.9125 21.2702 31.9433C21.6321 30.9741 22.2449 30.1457 23.0312 29.5629C23.8175 28.98 24.7419 28.6689 25.6875 28.6689C26.3975 28.672 27.0977 28.8533 27.7355 29.1994L22.967 34.4894L25.2205 36.9895L29.9906 31.7012C30.3025 32.4088 30.466 33.1855 30.4688 33.9732V33.9732Z" fill="black"/>
      <path d="M36.8438 28.6689H43.2188V32.2051H36.8438V28.6689Z" fill="black"/>
      <path d="M36.8438 35.7412H43.2188V39.2773H36.8438V35.7412Z" fill="black"/>
      </svg>
  </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
     <div class="ion-text-center">
      <h1>GoMarket</h1>
      <p>Ve al mercado sin salir de tu casa</p>
     </div>
  </ion-row>