<ion-menu  side="start" menuId="cliente-menu" contentId="principalCliente">
  <div class="menu-header-bg"></div>

  <div class="header-content">
    
    <ion-avatar>
     <img src="https://res.cloudinary.com/pbpc/image/upload/v1607033447/hgie9mdxjdmfr1epwwsx.jpg" alt="">
    </ion-avatar>
    <ion-label color="dark">
      <h2 ><b>Eduardo</b></h2>
    </ion-label>
  </div>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Modo Oscuro</ion-label>
        <!--opciones adicionales [ngModel]= "temaOscuro" [checked]="temaOscuro"-->
        <ion-toggle slot="end"   (ionChange) = "activarTemOscuro()"></ion-toggle>
      </ion-item>
    </ion-list>
 
    <ion-list lines="none" class="menu-items">
       
      
      <ion-menu-toggle  *ngFor="let c of opciones | async">
        
        <ion-item [routerLink]="c.url" >
         <ion-icon slot="start"  [name]="c.icon"></ion-icon>
         <ion-label>{{ c.name }}</ion-label>
        </ion-item>
       </ion-menu-toggle>
       
     <ion-menu-toggle>
       <ion-item  (click)="salir()">
         <ion-icon slot="start" name="log-out" ></ion-icon>
         <ion-label>Cerrar Sesi&oacute;n</ion-label>
       </ion-item>
     </ion-menu-toggle>
       
    </ion-list>
  </ion-content>
</ion-menu>