<ion-header class="ion-no-border" >
  <ion-toolbar class="barra" color="warning" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref=url></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>