<app-header-back titulo="Lista" url="/reservas"></app-header-back>

<ion-content>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto" class="imgPerfil">
          
              <img src="https://res.cloudinary.com/pbpc/image/upload/v1607185974/descarga_uxwdvn.png" alt="">
              <p class="ion-text-center">Reclama tus productos mostrandole este codigo a tu vendedor</p>
      </ion-col>
  </ion-row>
<ion-list >
    <ion-item *ngFor="let p of detalle">
      <img [src]="p.img" alt="" class="producto">
      <ion-label >
        <h3>{{p.nombre}}</h3>
      <p class="texto"> S/.{{p.Precio}} x 2</p>
      </ion-label>
    </ion-item>
  
</ion-list>
  </ion-grid>
</ion-content>

<style>
  img {
    width: 250px;
    height: 240px;
  }
</style>
